<footer class="bg-red-900 py-8">
  <div class="container mx-auto text-center">
    <a href="#" class="flex items-center justify-center mb-6">
      <img class="w-16" src="/img/logos/faculty_logo.png" alt="University Logo" />
    </a>
    <ul class="flex justify-center space-x-8 mb-6 md:text-base text-sm">
      <li><a href="/" class="text-white hover:underline">Home</a></li>
      <li><a href="/maps" class="text-white hover:underline">Maps</a></li>
      <li>
        <a href="/essentials" class="text-white hover:underline">Essentials</a>
      </li>
      <li><a href="/notes" class="text-white hover:underline">Notes</a></li>
    </ul>
    <p class="text-white md:text-base text-sm">
      &copy; 2024 Faculty Of Technology Ruhuna. All rights reserved.
    </p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
<script src="/js/navBar.js"></script>
