<nav class="bg-red-900 w-full z-40 fixed top-0 left-0">
  <div class="wrapper relative flex justify-between items-center py-4 px-6 shadow-lg">
    <div class="flex items-center">
      <a href="#" class="flex items-center space-x-3">
        <img class="w-14 md:w-16" src="/img/logos/faculty_logo.png" alt="University Logo" />
        <span class="text-white text-xl md:text-2xl font-bold">Faculty Of Technology</span>
      </a>
    </div>
    
    <div class="hamburger-menu z-50 absolute top-5 right-5 md:static md:hidden md:py-1 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hm-img size-12 stroke-white mx-auto">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>        
    </div>
    
    <div class="nav-link-section absolute w-full h-64 hidden z-40 top-0 right-0 md:static md:h-0 md:w-auto md:block bg-red-900 animate__animated animate__fadeInDownBig">
      <div class="wrapper mt-16 md:m-0 w-full h-full md:flex items-center space-y-1 md:space-y-0 md:space-x-8 md:px-2">
        <ul class="block md:flex md:space-x-8 text-lg">
          <li class="text-center px-4 py-2 md:px-0 md:py-0"><a href="/" class="text-white hover:underline">Home</a></li>
          <li class="text-center px-4 py-2 md:px-0 md:py-0"><a href="/notes" class="text-white hover:underline">Notes</a></li>
          <li class="text-center px-4 py-2 md:px-0 md:py-0"><a href="/maps" class="text-white hover:underline">Maps</a></li>
        </ul>
        
        <div class="relative md:static">
          <button id="accordion-toggle" class="flex items-center justify-between w-full p-0 text-white bg-red-900 gap-3 text-lg">
            <div class="wrapper mx-auto flex items-center justify-center gap-2">
              <span>Essentials</span>
            <svg id="accordion-icon" class="w-3 h-3 transition-transform transform rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
            </div>
          </button>
          
          <div id="accordion-content" class="hidden ml-auto w-1/2 md:absolute top-full md:top-5 md:-right-5 md:w-auto bg-red-900 text-lg animate__animated animate__slideInRight">
            <ul class="w-full md:w-36">
              <li class="hover:bg-red-800 px-4 py-2"><a href="/courses" class="text-white">Courses</a></li>
              <li class="hover:bg-red-800 px-4 py-2"><a href="/food_stall" class="text-white">Food Stalls</a></li>
              <li class="hover:bg-red-800 px-4 py-2"><a href="/transportation" class="text-white">Transportation</a></li>
              <li class="hover:bg-red-800 px-4 py-2"><a href="/gpa" class="text-white">Calculate GPA</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</nav>