<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="h-screen bg-gray-100 font-opensans">
    <%- include('./partials/nav.ejs') %>
    <section class="md:mt-24 mt-36">
        <div class="w-4/5 mx-auto pb-24">
          <img class="mx-auto w-3/4" src="/img/404.png" alt="" srcset="">
            <div class="wrapper-error-handler grid place-items-center mx-auto gap-4">
                <p class="text-2xl font-semibold">Page Not Found</p>
                <p class="text-lg" >Click <a class="underline text-red-700" href="/">Here</a> to go to Home Page</p>
                <p class="text-lg" >The page is redirecting in <span class="text-red-700" id="redirect-msg">6</span></p>
            </div>
        </div>
        </div>
      </section>
    <%- include('./partials/footer.ejs') %>
    <script>
        let seconds = 6;

        function redirect(){
            if(seconds > 0){
                document.getElementById('redirect-msg').textContent = `${seconds}`
                seconds--
                setTimeout(redirect, 1000)
            } else {
                window.location = '/'
            }
        }

        redirect();
    </script>
</body>
</html>