<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="h-screen bg-gray-100 font-opensans">
    <%- include('./partials/nav.ejs') %>
    
    <section class="relative mt-24">
      <div class="w-full h-[500px] pt-24"></div>
      
      <div class="flex items-center justify-center w-full h-[1000px] bg-red-600 pb-24">
        <div class="w-1/2 p-6 bg-white opacity-75 rounded-2xl text-center">
          <h2 class="mb-6 text-5xl font-bold tracking-wide text-center md:text-6xl">
            About Us
          </h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
            iste consectetur vel repellendus ipsum rem exercitationem saepe fuga
            perferendis aspernatur pariatur reiciendis facilis modi provident,
            reprehenderit eaque, officiis laboriosam porro. Laudantium est
            suscipit eaque voluptas vero quidem veritatis saepe explicabo, fugit
            quas ut tempora nobis. Earum voluptatibus provident similique eum
            vel molestiae quia, necessitatibus laborum eos? Adipisci, nam
            eveniet. Aliquid?
          </p>
        </div>
      </div>
      
      <img
        class="absolute w-3/5 top-24 left-64 rounded-2xl shadow-2xl"
        src="/img/group.jpg"
        alt="Group Image"
      />
    </section>
    
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
