<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="h-screen bg-gray-100 font-opensans">
    <%- include('./partials/nav.ejs') %>
    <section class="mt-24">
      <h2
        class="font-bold tmd:text-6xl text-5xl text-center pt-8 tracking-wide text-gray-800"
      >
        Food Stalls
      </h2>
      <div class="w-4/5 mx-auto py-24">
        <iframe
          src="https://drive.google.com/file/d/10MaSOG6AA97BB44wprFH2Z-xBzcXWp39/preview"
          class="mx-auto md:w-[640px] md:h-[960px] h-[480px]"
          allow="autoplay"
        ></iframe>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
