<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="h-screen bg-gray-100 font-opensans">
    <!-- Navigation Bar -->
    <%- include('./partials/nav.ejs') %>

    <!-- Carousel Section -->
    <header class="relative mt-20">
      <div
        id="default-carousel"
        class="relative w-full h-96 md:h-screen z-0"
        data-carousel="slide"
      >
        <div class="relative h-full overflow-hidden">
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/img/carousal/img_8.JPG"
              class="absolute block w-full h-full object-cover"
              alt="Slide 1"
            />
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/img/carousal/img_7.JPG"
              class="absolute block w-full h-full object-cover"
              alt="Slide 2"
            />
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/img/carousal/img_5.JPG"
              class="absolute block w-full h-full object-cover"
              alt="Slide 3"
            />
          </div>
        </div>
        <div
          class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3"
        >
          <button
            type="button"
            class="w-3 h-3 rounded-full bg-white"
            aria-current="true"
            aria-label="Slide 1"
            data-carousel-slide-to="0"
          ></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full bg-white"
            aria-current="false"
            aria-label="Slide 2"
            data-carousel-slide-to="1"
          ></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full bg-white"
            aria-current="false"
            aria-label="Slide 3"
            data-carousel-slide-to="2"
          ></button>
        </div>
        <button
          type="button"
          class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group"
          data-carousel-prev
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50"
          >
            <svg
              class="w-4 h-4 text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1L1 5l4 4"
              />
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group"
          data-carousel-next
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50"
          >
            <svg
              class="w-4 h-4 text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
      <div
        class="absolute z-10 inset-0 bg-black/50 flex items-center justify-center"
      >
        <h1
          class="block text-white z-20  text-2xl md:text-6xl font-bold py-10 border-t-2 border-b-2 border-white"
        >
          Welcome to Faculty of Technology
        </h1>
      </div>
    </header>

    <section class="map-area w-full py-12 md:py-24 bg-white">
      <div
        class="container w-11/12 mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-12 px-8"
      >
        <div class="text-container flex flex-col justify-center items-center">
          <h2 class="text-5xl font-semibold mb-6">Maps</h2>
          <p class="text-lg mb-8 text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
            rerum, minima odit amet atque ea perferendis iusto nobis animi.
          </p>
          <a
            class="w-44 text-xl text-center inline-block rounded-md font-semibold text-white bg-red-900 py-3 transform transition-transform ease-in-out hover:bg-red-700 hover:scale-105"
            href="#"
            >Check Out</a
          >
        </div>
        <div class="img-container">
          <img
            src="/img/maps.jpg"
            alt="Map Image"
            class=""
          />
        </div>
      </div>
    </section>

    <!-- Essentials Section -->
    <section class="essentials-area w-full py-12 md:py-24 bg-gray-50">
      <div class="container w-4/5 mx-auto text-center">
        <h2 class="text-5xl font-semibold mb-12">Essentials</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 gap-12 md:px-[80px]">
          <div
            class="grid food-stalls mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg transform hover:scale-105 hover:border-1 hover:border-red-500 duration-100 delay-0"
          >
            <a href="#">
              <img
                class="rounded-t-lg w-full"
                src="/img/essentials/food.jpg"
                alt="Food Stalls"
              />
            </a>
            <div class="p-6 align-bottom">
              <a href="#">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900"
                >
                  Food Stalls
                </h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 text-center">
                Here are the biggest enterprise technology acquisitions of 2021
                so far, in reverse chronological order.
              </p>
            </div>
          </div>
          <div
            class="grid bus-time-table mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg transform hover:scale-105 hover:border-1 hover:border-red-500 duration-100 delay-0"
          >
            <a href="#">
              <img
                class="rounded-t-lg w-full"
                src="/img/essentials/bus.jpg"
                alt="Bus Time Table"
              />
            </a>
            <div class="p-6 align-bottom">
              <a href="#">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900"
                >
                  Transportation
                </h5>
              </a>
              <p class="mb-3 font-normal text-gray-700">
                Here are the biggest enterprise technology acquisitions of 2021
                so far, in reverse chronological order.
              </p>
            </div>
          </div>
          <div
            class="grid courses mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg transform hover:scale-105 hover:border-1 hover:border-red-500 duration-100 delay-0"
          >
            <a href="#">
              <img
                class="rounded-t-lg w-full"
                src="/img/essentials/courses.jpg"
                alt="Bus Time Table"
              />
            </a>
            <div class="p-6 align-bottom">
              <a href="#">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900"
                >
                  Courses
                </h5>
              </a>
              <p class="mb-3 font-normal text-gray-700">
                Here are the biggest enterprise technology acquisitions of 2021
                so far, in reverse chronological order.
              </p>
            </div>
          </div>
          <div
            class="grid bus-time-table mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg transform hover:scale-105 hover:border-1 hover:border-red-500 duration-100 delay-0"
          >
            <a href="#">
              <img
                class="rounded-t-lg w-full"
                src="/img/essentials/gpa.jpg"
                alt="Bus Time Table"
              />
            </a>
            <div class="p-6 align-bottom">
              <a href="#">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900"
                >
                  Calculate GPA
                </h5>
              </a>
              <p class="mb-3 font-normal text-gray-700">
                Here are the biggest enterprise technology acquisitions of 2021
                so far, in reverse chronological order.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="map-area w-full py-12 md:py-24 bg-white">
      <div
        class="container w-11/12 mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-12 px-8"
      >
        <div class="img-container">
          <img
            src="/img/notes.png"
            alt="Notes Image"
            class=""
          />
        </div>
        <div class="text-container flex flex-col justify-center items-center">
          <h2 class="text-5xl font-semibold mb-6">Notes</h2>
          <p class="text-lg mb-8 text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
            rerum, minima odit amet atque ea perferendis iusto nobis animi.
          </p>
          <a
            class="w-44 text-xl text-center inline-block rounded-md font-semibold text-white bg-red-900 py-3 transform transition-transform ease-in-out hover:bg-red-700 hover:scale-105"
            href="#"
            >Check Out</a
          >
        </div>
      </div>
    </section>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
